connexion==2.2.0
cryptography==1.2.3
Flask==1.0.2
Jinja2==2.10.1
pathlib==1.0.1
pip==19.1
ptyprocess==0.5
pyOpenSSL==19.0.0
PyYAML==5.1
requests==2.21.0
simplejson==3.16.0
swagger-ui-bundle==0.0.3
urllib3==1.24.2
